body,
html {
    background: #e8e8e8;
    overflow: scroll;
    padding-bottom: 3rem;
}

.App {
    text-align: center;

    .App__content {
        padding-top: 5rem;
        width: 95%;
        margin: 0 auto;
    }
}
